{% extends "base.html" %}
{% block content %}
	<h1>Add Password</h1>
	<form role="form" method="post" action="/add/password">
	  <div class="form-group">
		<label for="email">Title:</label>
		<input type="text" class="form-control" id="title">
	  </div>
	  <div class="form-group">
		<label for="description">Description:</label>
		<textarea id="description" class="form-control" rows=3></textarea>
	  </div>
	  <div class="form-group">
		<label for="username">Username:</label>
		<input type="text" class="form-control" id="username">
	  </div>
	  <div class="form-group">
		<label for="password">Password:</label>
		<input type="text" class="form-control" id="password">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
{% endblock %}
	
