.navbar-default {
	background: #A30900;
}

.navbar-nav {
	color: #fff;
	font-weight: bold;
}

.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

body > main {
	margin: 10px auto;
	width: 80%;
}

.info-table td, .info-table th {
	padding: 3px;
	border: 1px solid black;
}