.navbar-default {
	background: #A30900;
}

.navbar-nav {
	color: #fff;
	font-weight: bold;
}

body > main {
	margin: 10px auto;
	width: 80%;
}

.info-table td, .info-table th {
	padding: 3px;
	border: 1px solid black;
}