{% extends "base.html" %}
{% block content %}
	<h1>Password Management</h1>
	<a type="button" class="btn btn-primary" href="/add/password">
	  <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-weight: bold"></span> Password
	</a>
	<p></p>
	<table class="info-table">	
		<tr>
			<th>PID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Username</th>
			<th>Password</th>
		</tr>
	{% for p in data %}
	<tr>
		<td>{{ p[0] }}</td>
		<td>{{ p[1] }}</td>
		<td>{{ p[2] }}</td>
		<td>{{ p[3] }}</td>
		<td>{{ p[4] }}</td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}
	
