{% extends "base.html" %}
{% block content %}
	<h1>Password Management</h1>
	<form method="post" action="/manage/passwords">
		<a type="button" class="btn btn-primary" href="/add/password">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-weight: bold"></span> Password
		</a>
		<input type="submit" value="Edit" class="btn btn-primary">
		<input type="submit" value="Delete" class="btn btn-danger">
		<p></p>
		<table class="info-table">	
			<tr>
				<th>&nbsp;</th>
				<th>PID</th>
				<th>Title</th>
				<th>Description</th>
				<th>Username</th>
				<th>Password</th>
			</tr>
		{% for p in data %}
		<tr>
			<td><input type="radio" value="{{ p[0] }}" name="password"></td>
			<td>{{ p[0] }}</td>
			<td>{{ p[1] }}</td>
			<td>{{ p[2] }}</td>
			<td>{{ p[3] }}</td>
			<td>{{ p[4] }}</td>
		</tr>
		{% endfor %}
		</table>
	</form>
{% endblock %}
	
