{% extends "base.html" %}
{% block content %}
	<h1>User Management</h1>
	<form method="post" action="/manage/users">
		<a type="button" class="btn btn-primary" href="/add/user">
		  <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-weight: bold"></span> User
		</a>
		<input type="submit" name="delete" class="form-control">Delete</input>
		<p></p>
		<table class="info-table">	
			<tr>
				<th>&nbsp;</th>
				<th>UID</th>
				<th>Date Added</th>
				<th>Active</th>
			</tr>
		{% for user in data %}
		<tr>
			<td><input type="checkbox" value="{{ user[0] }}"></td>
			<td>{{ user[0] }}</td>
			<td>{{ user[1] }}</td>
			<td>{{ 'True' if user[2] == 1 else 'False' }}</td>
		</tr>
		{% endfor %}
		</table>
	</form>
{% endblock %}
	
